.map-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;

  ::ng-deep .map-container {
    width: 100%;
    height: 100%;
  }
}

.listing {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  opacity: 0.9;

  &.zap-listing {
    background-color: #008295;
  }

  &.quinto-listing {
    background-color: #5063f0;
  }

  &:hover {
    z-index: 5;
    box-shadow: 0 0 10px black;
    opacity: 1;
  }

  .counters {
    display: flex;
    width: 100%;

    .counter-element {
      flex-grow: 1;

      &:first-child {
        border-right: 1px solid black;
      }

      &:last-child {
        border-left: 1px solid black;
      }
    }
  }

  .price {
    border-top: 1px solid black;
  }
}
