<div class="map-wrapper" *ngIf="apiLoaded | async" #mapWrapper>
  <google-map [options]="options"
  width="null" height="null"
  (boundsChanged)="boundsChangedSubject.next()"
  (maptypeidChanged)="updateMapOptions()">
  </google-map>

  <div *ngFor="let listing of zapListings"
  class="listing zap-listing" (click)="onZapListingClick(listing)"
  [style.top]="getRectTop(listing.listing.address.mapPosition) + 'px'"
  [style.left]="getRectLeft(listing.listing.address.mapPosition) + 'px'">
    <div class="counters">
      <div class="counter-element">
        {{listing.listing.totalAreas[0] || listing.listing.usableAreas[0]}}
      </div>
      <div class="counter-element">
        {{listing.listing.bedrooms}}
      </div>
      <div class="counter-element">
        {{listing.listing.bathrooms}}
      </div>
    </div>
    <span class="price">{{listing.listing.fullRentalPrice}}</span>
  </div>

  <div *ngFor="let listing of quintoListings"
  class="listing quinto-listing" (click)="onQuintoListingClick(listing)"
  [style.top]="getRectTop(listing._source.mapPosition) + 'px'"
  [style.left]="getRectLeft(listing._source.mapPosition) + 'px'">
    <div class="counters">
      <div class="counter-element">
        {{listing._source.area}}
      </div>
      <div class="counter-element">
        {{listing._source.bedrooms}}
      </div>
      <!-- <div class="counter-element">
        {{listing._source}}
      </div> -->
    </div>
    <span class="price">{{listing._source.totalCost}}</span>
  </div>
</div>
