<h2 mat-dialog-title>{{data?.title}}
  <button mat-icon-button
  (click)="copyLink()">
    <mat-icon>link</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">
  <swiper
    [slidesPerView]="3"
    [spaceBetween]="5"
    [centerInsufficientSlides]="true"
    [keyboard]="true"
    [mousewheel]="{ sensitivity: 1 }"
    [observeParents]="true">
    <ng-template *ngFor="let picture of data?.pictures" swiperSlide>
      <img [src]="picture" alt="" class="slide-image">
    </ng-template>
  </swiper>
  <mat-chip-list [selectable]="false">
    <mat-chip disableRipple [selected]="false">${{data?.totalCost}}</mat-chip>
    <mat-chip disableRipple>{{data?.area}} m²</mat-chip>
    <mat-chip disableRipple>{{data?.rooms}} rooms</mat-chip>
  </mat-chip-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial
  (click)="openLink()">{{linkButton}}</button>
</mat-dialog-actions>
