.example-container {
  width: 100%;
  height: 100%;
}

.side-toolbar {
  position: absolute;
  right: -70px;
  top: calc(50% - 50px);
  height: 40px;
  width: 200px;
  transform: rotate(-90deg);
  display: flex;

  button {

    mat-icon {
      transform: rotate(90deg);
    }
  }
}

.mat-drawer-content {
  overflow: hidden;
}

.form-wrapper {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;

  .filter-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .apply-filter-button {
      height: 30px;
    }

    .price-form {
      display: flex;
      flex-direction: column;

      .price-form-inputs {
        display: flex;
        justify-content: space-around;

        mat-form-field {
          width: calc(50% - 5px);
        }
      }
    }
  }
}
