<div class="app-wrapper">
  <mat-toolbar color="primary">
    <a href="/">Bubaxi</a>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button
    (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer class="drawer"
    #drawer mode="over" position="end">
      <homaxi-auth></homaxi-auth>
      <div class="form-wrapper">
        <form class="filter-form" [formGroup]="filterForm">
          <button mat-raised-button color="primary" class="apply-filter-button" (click)="drawer.toggle() && filter()">Filter</button>
          <div class="price-form">
            <div class="price-form-inputs">
              <mat-form-field appearance="outline">
                <mat-label>Min Price</mat-label>
                <input matInput placeholder="0" formControlName="minPrice" type="number">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Max Price</mat-label>
                <input matInput placeholder="10000" formControlName="maxPrice" type="number">
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-map
      (boundsChanged)="onBoundsChanged($event)"
      (listingClicked)="onListingClicked($event)"
      [listings]="listings" [hideSeen]="hideSeen"
      ></app-map>
      <div class="side-toolbar">
        <button mat-raised-button
        (click)="filter()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-raised-button
        (click)="autoSearch.setValue(!autoSearch.value)">
          <mat-icon *ngIf="autoSearch.value">find_replace</mat-icon>
          <mat-icon *ngIf="!autoSearch.value">search_off</mat-icon>
        </button>
        <button mat-raised-button
        (click)="onToggleHideSeen()">
          <mat-icon *ngIf="hideSeen">visibility_off_outline</mat-icon>
          <mat-icon *ngIf="!hideSeen">visibility_outline</mat-icon>
        </button>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
