<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer mode="over" position="end">
    <div class="form-wrapper">
      <form class="filter-form" [formGroup]="filterForm">
        <button mat-raised-button class="apply-filter-button" (click)="drawer.toggle() && filter()">Filter</button>
        <div class="price-form">
          <div class="price-form-inputs">
            <mat-form-field appearance="outline">
              <mat-label>Min Price</mat-label>
              <input matInput placeholder="0" formControlName="minPrice" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Max Price</mat-label>
              <input matInput placeholder="10000" formControlName="maxPrice" type="number">
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-map
    (boundsChanged)="onBoundsChanged($event)"
    (listingClicked)="onListingClicked($event)"
    [listings]="listings"
    ></app-map>
    <div class="side-toolbar">
      <button mat-raised-button>
        <mat-icon (click)="filter()">search</mat-icon>
      </button>
      <button mat-raised-button
      (click)="autoSearch.setValue(!autoSearch.value)">
        <mat-icon *ngIf="autoSearch.value">find_replace</mat-icon>
        <mat-icon *ngIf="!autoSearch.value">search_off</mat-icon>
      </button>
      <button mat-raised-button
      (click)="drawer.toggle()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
